
div
  hr(style='border-width:thick; border-color:black;')
  .container(style='width:90%')
    h3 Debug Information (Development Purposes Only)
    div 
      b Context (angular): {{context}}
    div 
      b Token (config) : #{token}

    hr
    h4 CONFIG PARAMS:

    if User
      div.alert.alert-warning User: #{User}
    if clinic
      div.alert.alert-danger Clinic: #{JSON.stringify(clinic)}
      if clinic.staff
        div.alert.alert-danger Clinic Staff: 
          ul
            li(ng-repeat = "staff in clinic.staff")
              b {{ staff }}
    if patient
      div.alert.alert-danger Patient: #{JSON.stringify(patient)}
    if treatment
      div.alert.alert-danger Treatment: #{JSON.stringify(treatment)}
    if appointment
      div.alert.alert-danger Appointment: #{JSON.stringify(appointment)}
    if schedule
      div.alert.alert-danger Schedule: #{JSON.stringify(schedule)}
    if protectionMap
      div.alert.alert-danger Protection: #{JSON.stringify(protectionMap)}
    if Config 
      div.alert.alert-danger Config: #{JSON.stringify(Config)}
     
    hr
    h4 ANGULAR PARAMS:
    div(ng-if="User")
      div.alert.alert-warning User: {{User}}
    div(ng-if="clinic")
      div.alert.alert-danger Clinic: {{clinic}}
    div(ng-if="patient")
      div.alert.alert-danger Patient: {{ patient }}
    div(ng-if="protectionMap")
      div.alert.alert-danger Protection: {{protectionMap}}
    div(ng-if="appointment")
      div.alert.alert-danger Appointment: {{appointment}}
    div(ng-if="treatments")
      div.alert.alert-danger Treatments: {{treatments}}
    div(ng-if="schedule")
      div.alert.alert-danger schedule: {{schedule}}
    div(ng-if= "travel")
      div.alert.alert-danger  travel: {{travel}}
    div(ng-if="Lookup.Clinics")
      div.alert.alert-danger Lookups: {{Lookup}}
    div(ng-if="include && include.appointment")
      div.alert.alert-danger Clinic Appointments: 
      ul
        li(ng-repeat = "app in include.appointment")
          b {{app}}
    hr

