extends ./../customize/privateLayout
block content

  // standard input variables: 
  //    - plate_ids (array); 
  //    - Samples   (array of hashes)

  - var config = { plate_ids: plate_ids, Samples: Samples };
  - var init = "initialize(" + JSON.stringify(config) + ")";
  - var sampleList = plate_ids.split(/\s*,\s*/);
  
  p &nbsp;
  div.container
     div(ng-app='myApp')
      div(ng-controller="CommonController" ng-init="plate_ids = '#{plate_ids}'")
        
        include ./../core/errorMsg.jade

        if Samples.length
          div.alert.alert-success
            b #{Samples.length} x #{Samples[0].container_format}(s) containing #{Samples[0].sample_type}
         
            span &nbsp; &nbsp;
            button.btn.btn-primary.btn-sm(type='button' ng-show='!injectedAlready()' ng-click="injectData('/Container/summary','injectedInfo', plate_ids)") ?
            button.btn.btn-danger.btn-sm(type='button' ng-show='injectedAlready()' ng-click='uninjectData()') x    
            br
            h5 [ IDs: #{sampleList[0]} ... #{sampleList[Samples.length-1]} ] &nbsp; &nbsp;
               
          div#injectedInfo
            //include Sample_Summary

          include ContainerOptions.jade 

          include uploadMatrix.jade

        hr
        h2.alert.alert-warning Debugging Information:  (hidden in production)
        b session: #{JSON.stringify(session)} 
        BR
        b Samples: #{JSON.stringify(Samples)}
        BR
        b IDs: #{JSON.stringify(sampleList)}
        hr