extends ./../customize/privateLayout
block content

  div.container
     div(ng-app='myApp')
      div(ng-controller="CommonController")
        
        include ./../core/errorMsg.jade

        if samples.length
          div.alert.alert-info
            b #{samples.length} x #{samples[0].container_format}(s) containing #{samples[0].sample_type}
            br
            h5 [ IDs: #{sampleList[0]} ... #{sampleList[samples.length-1]} ] 

          b Continue Protocol: 
          form(role='form' method='post' action="/Lab_protocol/run" enctype='form-data')
            input(type='hidden' id='Plate_ID' name='Plate_ID' value='#{ids}')
            span.lookup(id='Lookup-lab_protocol' ng-init="loadLookup('lab_protocol')")
            span &nbsp; &nbsp;
            button.btn.btn-primary(type='submit') Run Protocol

          hr
          b Transfer To: 

          form(role='form' method = 'post' action= "/xfer")

            input(id = 'id' type='hidden' value="#{sampleList.join(',')}")
            span.lookup(id='Lookup-Plate_Format' ng-init="loadLookup('Plate_Format', 'Plate_Format_ID', 'Plate_Format_Type')") 
            span &nbsp; &nbsp;
            button.btn.btn-primary(type='submit') Transfer Samples
          hr
          b #{JSON.stringify(session)}