extends ./../customize/privateLayout
block content
  
  - var config = {};
  - config.view = view;

  if view 
    - view_id = view_id || view.id
    - tables = view.tables
    - fields = fields || view.fields

  - var init = "initialize(" + JSON.stringify(config) + ")";
 
  div.container
    h2 Report Editor

    p &nbsp;
    a(href="/View/getReport/#{view_id}" ) 
        button.btn.btn-primary(type='button') Run View

    span &nbsp; &nbsp;
  
    a(href="/views" ) 
        button.btn.btn-danger(type='button') Return to List of Views
    h4 #{JSON.stringify(view)}
    h4 #{JSON.stringify(fields)}
    h4 #{JSON.stringify(pick)}

    hr 

    div(ng-app='myApp' ng-cloak=1)
      div(ng-controller="SharedController" ng-init="include_all=1")
        div(ng-controller="LIMSController")
          div(ng-controller='ViewController' ng-init="#{init}")

            div.container
                a(href='#' onclick='return false;' ng-click="page='view'") View
                span &nbsp; &nbsp; &nbsp; &nbsp;
                a(href='#' onclick='return false;' ng-click="page='table'") Tables
                span &nbsp; &nbsp; &nbsp; &nbsp;
                a(href='#' onclick='return false;' ng-click="page='field'") Fields
                span &nbsp; &nbsp; &nbsp; &nbsp;

            div(ng-show="page==='view'")
                h3 Manage View Description
                form(role='form' method='post' action="/view/generate" enctype='form-data')
                    
                    include ./../core/errorAngularMsg.jade
                   
                    div.view-section
                        - name = view.name;
                        - id   = view.id;
                        - tables = view.tables
                        - fields = view.fields
                        - desc  = view.description
                        - active = view.active
                        - attributes = view.attributes || []
            
                        form(role='form')
                            input(type='hidden' ng-model="form.view_id" name='view_id' value="#{config.id}")

                            input.form-control(ng-model='view.name')
                            input.form-control(ng-model='view.tables')
                            textarea.form-control(rows=5 ng-model='view.description')
                            p &nbsp;
                            button.btn.btn-primary(type='button' ng-click="Save" ng-disabled='!viewChanged') Save
                            span &nbsp; &nbsp; &nbsp; &nbsp;
                            button.btn.btn-danger(type='button' ng-click="Delete") Delete

            div(ng-show="page==='table'")
                h3 Manage Report Tables
                form(role='form')
                    input(type='hidden' ng-model="form.table.view_id" name='view_id')
                    input(type='hidden' ng-model="form.table.table_name" name='table')
                    table.table
                        tr
                            td
                                Include
                            td 
                                b Table
                            td Join condition
                            td Mandatory

                        each table in tables.split(/,\s*/)

                            tr
                                td
                                    input.form-control(type='checkbox' ng-model='form.table.name')
                                td
                                    span #{table}
                                td
                                    input.form-control(type='text' ng-model='form.table.join_condition')
                                td
                                    input.form-control(type='checkbox' ng-model='form.table.mandatory')
                    p &nbsp;
                    button.btn.btn-primary(type='button' ng-click="Save" ng-disabled='!tableChanged') Save
                    span &nbsp; &nbsp; &nbsp; &nbsp;
                    button.btn.btn-danger(type='button' ng-click="Delete") Delete
                    span &nbsp; &nbsp; &nbsp; &nbsp;
                    button.btn.btn-primary(type='button' ng-click="addTable(#{id})") Add Table
            
            div(ng-show="page==='field'")
                h3 Manage Report Fields
                p &nbsp;
                each Vtable in tables.split(/,\s*/)
                    a(href='#' onclick='return false;' ng-click="tableview='#{Vtable}'") 
                        b #{Vtable}
                    span &nbsp; &nbsp; &nbsp; &nbsp;
                p &nbsp;

                form(role='form')

                    input(type='hidden' ng-model="form.field.view_id")
                    input(type='hidden' ng-model="form.field.table")
                    input(type='hidden' ng-model='form.field.field')
                    input(type='hidden' ng-model='form.field.type')                            
                    input(type='hidden' ng-model='form.field.prompt')  

                    table.table
                        tr
                            td
                                b Name
                            td
                                b Table
                            td
                                b Label
                            td
                                b Pre-picked
                        each field in fields.split(/,\s*/)
                            - var fp = field.match(/(.*?)\.?(\w+) AS (.*)/i)
                            - var prompt = field
                            - var fld = field
                            - var table = ''
                            if fp && fp.length
                                - table = fp[1]
                                - fld = fp[2]
                                - prompt = fp[3]

                            
                                tr(ng-show="tableview === '#{table}'")
                                    td
                                        span #{fld}
                                    td
                                        span #{table}
                                    td
                                        input(type='text' ng-model="form.field.prompt")
                                    td                                                  
                                        input(type='checkbox' ng-model='form.field.pre_picked')
                    p &nbsp;

                    button.btn.btn-primary(type='button' ng-click="Save" ng-disabled='!tableChanged') Save
                    span &nbsp; &nbsp; &nbsp; &nbsp;
                    button.btn.btn-danger(type='button' ng-click="Delete") Delete
                    span &nbsp; &nbsp; &nbsp; &nbsp;
                    button.btn.btn-primary(type='button' ng-click="newTable(#{id})") Add Field
      
