extends ./../customize/privateLayout
block content


  div.container
    p &nbsp;
    a(href="/lab_protocol/edit/#{Steps[0].Lab_protocol}" ) 
        button.btn.btn-primary(type='button') Edit Protocol
  
    hr 

    - max_step = 1;

    h3 Protocol Steps:
    ul
      each step,i in Steps
        - name = step.name;
        - id   = step.id;
        - num = step.step_number
        - message = step.message;
    
        if num > max_step
            - max_step = num;

        li 
          a(href="/protocol_step/edit/#{id}") #{num} - #{name} 
            i [ #{message} ] &nbsp; &nbsp;

          a(href="/Lab_protocol/addStep/#{Steps[0].Lab_protocol}/#{num}") 
            button.btn.btn-default Insert Step 
    hr

    a(href="/Lab_protocol/addStep/#{Steps[0].Lab_protocol}/#{max_step}") Add Step

      
