extends ./../customize/privateLayout

block content

  div.container
    include ./../core/errorMsg.jade
    
    // input variables: 
    //    - plate_ids  (array); 
    //    - Samples    (array of hashes)
    //    - Steps      (array of hashes)
    //    - attributes (array of hashes)

    - var configParams = { protocol: protocol, plate_ids: plate_ids, plate_set: plate_set, Samples: Samples, Steps : Steps, Attributes: attributes, last_step: last_step};

    - var init = "initialize(" + JSON.stringify(configParams) + ")";

    //- flds = fields || []; 
    //- units = { 'solution_qty' : 'solution_qty_units', 'transfer_qty' : 'transfer_qty_units'};
    - aliases = { 'equipment' : 'Equip', 'solution' : 'Sol' }
    - attributes = attributes || {}; // {'Thaw_Time' : 'integer' }

    div(ng-app='myApp')
      div(ng-controller="SharedController")
       div(ng-controller="FancyFormController")
        div(ng-controller="WellController" ng-init="#{init}")
          div(ng-controller='ProtocolController' ng-init="#{init}" ngcloak)
            
            h3 Sample Set: # {{ plate_set }}
            include ActiveSamples.jade
            
            br 
            include ./../core/angularMessages.jade

            div(ng-show="status != 'Completed'")      
              h2 {{ protocol.name }}

              each Step,index in Steps
                - var Snum = index+1;
           
                  div(ng-show="#{Snum} == stepNumber")
                    - var flds = Step.input_options.split(':');
                    - var formats = Step.input_format.split(':');
                    - var defaults = Step.input_defaults.split(':');
                    - var prompted = {};

                    div.alert.alert-info(style='opacity:0.9')
                      h3 #{Step.name} &nbsp; 
                        span.navbar-right
                          if Step.instructions
                            a(href='#' onclick="return false;" tooltip='instructions' data-toggle="popover" data-placement="left" data-trigger="focus" title="Instructions" data-content="#{Step.instructions}")
                              i.fa.fa-question-circle
                            span &nbsp;
                          span &nbsp; [ {{stepNumber}} / {{steps}} ] &nbsp;

                      h4(style="color:red") &nbsp; &nbsp; #{ Step.message } 

                      hr

                      div(ng-if='errMsg')
                        div.alert.alert-danger(style='opacity:1')
                          b {{ errMsg }} 

                      form.form-horizontal(role="form" name ="form#{Snum}" method='post' ng-submit="complete('Completed')")
                        input(type = 'hidden' name='Samples' value='{{Samples}}')
                        input(type='hidden' id = 'id' name='plate_ids' value="{{plate_list}}")
                        input(type='hidden' id='Plate_ID' name='Plate_ID' value='{{plate_list}}')

                        div(ng-if="ListTracking#{Snum}")
                          // Show example for handling input lists //
                          div.form-group
                            div.col-sm-2.control-label Expand Lists:
                            div.col-sm-4
                              label.btn.btn-default(type='radio' ng-model="list_mode#{Snum}" uib-btn-radio = 'serial' ng-click="reset_list_mode('serial')") 
                                b &nbsp; Serially &nbsp;
                              label.btn.btn-default(type='radio'  ng-model="list_mode#{Snum}" uib-btn-radio='parallel' ng-click="reset_list_mode('parallel')")
                                b &nbsp; In Parallel &nbsp;
                            div.col-sm-4
                              span &nbsp; [ eg : 
                                b {{ listExample }}
                                span ]

                        each field,i in flds
                          span &nbsp; 
                          - fld = field.replace('*','');
                          if fld && fld.length
                            - alias = aliases[fld] || fld;
                            - fType = 'text';
                            - mandatory = false;
                            - pattern = formats[i];
                            - def     = defaults[i];

                            if attributes[alias]
                              - fType = attributes[alias].type
                              if fType === 'Count'
                                - fType = 'hidden'
                              // - var attr_index = attributes.indexOf(fld);

                            if (fld != field)
                              - mandatory = true;
                              - pattern = "^[\\S]{1,}$"; 

                            // - fld = '_' + fld;

                            - alias = alias.replace(/\_/g, ' ');

                            if fType === 'hidden' 
                              input(type='hidden' name='#{fld}#{Snum}' id='#{fld}#{Snum}' ng-model='#{fld}#{Snum}' force=1)

                            else if fType.match(/ENUM/i)
                              div.form-group
                                label.col-sm-2.control-label(for="#{fld}#{Snum}") #{alias}
                                div.col-sm-6
                                  dropdown(placeholder="#{alias}" list="MenuList['#{fld}#{Snum}']" selected="#{fld}#{Snum}" property="name" track='name' default="#{def}" ng-init="setup_Menu('#{fld}#{Snum}', \"#{fType}\", '#{def}', '- ? -', 'name')")
                            else 
                              div.form-group
                                label.col-sm-2.control-label(for='#{fld}#{Snum}') #{alias}
                                div.col-sm-6
                                  input.input-lg.form-control(type='#{fType}' name="#{fld}#{Snum}" ng-required="#{mandatory}" placeholder = "-- Enter #{alias} --" id='#{fld}#{Snum}' ng-model='#{fld}#{Snum}' default='#{def}' force=1 data-error="You must enter a valid quantity" ng-blur="splitField('#{fld}#{Snum}')")

                                  div.help-block.with-errors(style='color:red' ng-show="form#{Snum}.#{fld}#{Snum}.$invalid" ng-model="#{fld}#{Snum}_errors") #{alias} is Mandatory
                                if fld.match(/_qty/)
                                  div.col-sm-2
                                    span.lookup(id='Lookup-units' ng-init="loadLookup('units', '::#{fld}_units#{Snum}', 'units','','#{def}')")
                                // if fld == 'Split'
                                  div.col-sm-6(ng-show="Split#{Snum} > 1") 
                                    label
                                      input(type='radio' value = 'serial' ng-model="split_mode" ng-click="reset_split_mode()") 
                                      b &nbsp; Serial &nbsp;
                                    label
                                      input(type='radio' value = 'parallel' ng-model="split_mode" ng-click="reset_split_mode()")
                                      b &nbsp; Parallel &nbsp;
                                    span &nbsp; [ eg : 
                                      b {{ split_mode }} -> {{ splitExample }}
                                      span ]
                                    br
                                    label
                                      b Pack: &nbsp;
                                      input(type='radio' value=1 ng-model="pack_wells" ng-click="reset_pack_mode()") 
                                      b &nbsp; Yes &nbsp;
                                    label
                                      input(type='radio' value=0 ng-model="pack_wells" ng-click="reset_pack_mode()")
                                      b &nbsp; No &nbsp;
                                    span &nbsp; [ eg : 
                                      b {{ pack_wells }} -> {{ packExample }}
                                      span ]

                        hr
                        div.form-group
                          //div.col-sm-2 &nbsp;
                          label.col-sm-1 ..
                          div.col-sm-3
                            button.btn.btn-success(type='submit' ng-click="updateLookups()" ng-disabled="form#{Snum}.$invalid") Completed Step
                          div.col-sm-2
                            button.btn.btn-warning(type='button' ng-click="complete('Skipped')") Skip Step
                          div.col-sm-2
                            button.btn.btn-danger(type='button' ng-click="complete('Failed')") Failed Step
                          div.col-sm-2
                            button.btn.btn-primary(type='button' ng-click="repeat()" ng-disable="Step.Repeatable") Repeat Previous Step
                        hr
                        button.btn.btn-danger(type='button' ng-click="exitThisProtocol()") Exit Protocol Now             

                        // if Step.transfer_type
                          div.form-group.alert-warning
                            p &nbsp;
                            div.col-sm-4
                              button.btn.btn-danger(type='button' ng-click="complete('Test')") Check Distribution
                              p &nbsp;
                              button.btn.btn-primary(type='button' ng-click="updateLookups()") Update Lookups 
                            div.col-sm-4
                              div comment: {{ comments }} = {{ comments#{Snum} }} (dynamic)
                              div split: {{ Split#{Snum} }} {{ Split }} (dynamic)
                              div qty  : {{ transfer_qty#{Snum} }} (dynamic)
                              div units : {{ transfer_qty_units#{Snum} }} {{ transfer_qty_units#{Snum}_id }} = {{ transfer_qty_units#{Snum}_label }} (dynamic)
                              div pack: {{ pack_wells }} (static)
                              div distribute: {{ distribution_mode#{Snum} }} (dynamic)
                            div.col-sm-4
                              div target_format : {{ Step.Target_format }}
                              div target_type :   {{ Step.Target_sample }}
                              div type: {{ Step.transfer_type }}
                              div focus reset: {{ Step.reset_focus }}
                          div.form-group
                            div.col-sm-12
                              b {{ JSON.stringify(Map) }}

            div(ng-if="status=='Completed'")
              include ContainerOptions.jade 
              include uploadMatrix.jade
              hr

            p &nbsp;
            p &nbsp;
            div.alert.alert-danger(ng-if="debug") 
              br
              h3 Debugging 

              hr
              b comment: {{ comments }}
              h5 Defaults: {{ Default }}
              h5 Att : {{ AttributePrompt }}
              h5 Details: {{ Step }}
              h5 Steps : {{ Steps }}
              h5 ids: {{ plate_ids }}
              h5 Samples: {{ Samples }}
              h5 Input: {{ input }}
              h5 Show: {{ Show }}
              h5 Fields: #{ JSON.stringify(flds) }
              h5 Attributes: #{JSON.stringify(attributes)}

              hr
              b #{sails.config.payload}
              b #{ JSON.stringify(sails.config.payload) }

              hr
              b Config Messages:
              br
              b #{sails.config.messages}
              h3 angular messages: 
              b {{ messages }}
