
h4 source Map
table
	tr
		td(style='height:5px; width: 5px; padding:2px; background-color: #F66')
	
- var rows = ['A'];
- var cols = [1];

if Samples && Samples[0] && Samples[0].box_size == '1'
	- rows = ['A'];
	- cols = [1];

if Samples && Samples[0] && Samples[0].box_size  == '9x9'
	- rows = ['A','B','C','D','E','F','G','H','I'];
	- cols = [1,2,3,4,5,6,7,8,9];

if Samples && Samples[0] && Samples[0].box_size  == '8x12'
	- rows = ['A','B','C','D','E','F','G','H'];
	- cols = [1,2,3,4,5,6,7,8,9,10,11,12];

- var lightbg = '#fff';
- var darkbg  = '#000';
- var bg = darkbg;

div(ng-if="Map.Transfer && Map.SourceMap")
	div(ng-repeat="box in Map.SourceMap")
		table.table-bordered
			each row in rows
				tr
					each col in cols
						if col > 6 
							- bg=darkbg;
						if col <= 6 
							- bg=lightbg;

						td					
							div(ng-if="box['#{row}#{col}']")
								div.wellmap( style="background-color:#{{ box['#{row}#{col}'].colour_code }}")
									a(href='#' data-toggle='tooltip' title="id# {{ box['#{row}#{col}'].source_id }} " style='color:#{bg}') #{row}#{col}
							div(ng-if="! box['#{row}#{col}']")
								div.wellmap(style='background-color: #666')
									span &nbsp;	
		hr