h4 Target Map

	
- var rows = ['A'];
- var cols = [1];

if target_size == '1'
	- rows = ['A'];
	- cols = [1];

if target_size == '9x9'
	- rows = ['A','B','C','D','E','F','G','H','I'];
	- cols = [1,2,3,4,5,6,7,8,9];

if target_size == '8x12'
	- rows = ['A','B','C','D','E','F','G','H'];
	- cols = [1,2,3,4,5,6,7,8,9.10,11,12];

div(ng-if="Map.Transfer && Map.TargetColours")
	div(ng-repeat="transfer in Map.Transfer")
		table.table-bordered(style="border: 1px solid")
			each row in rows
				tr
					each col in cols
						td					
							div(ng-if="Map.TargetColours[0]['#{row}#{col}']")
								div.wellmap( style="background-color:#{{ Map.TargetColours[0]['#{row}#{col}'] }}")
									span {{ transfer['#{row}#{col}']['position'] }}
									span.tooltip {{ transfer['#{row}#{col}']['id'] }}
							div(ng-if="! Map.TargetColours[0]['#{row}#{col}']")
								div.wellmap(style='background-color: #666')
									span &nbsp;	
// b map: {{ Map.TargetColours }}	
