h4 Target Map

	
- var rows = ['A'];
- var cols = [1];

if target_size == '1'
	- rows = ['A'];
	- cols = [1];

if target_size == '9x9'
	- rows = ['A','B','C','D','E','F','G','H','I'];
	- cols = [1,2,3,4,5,6,7,8,9];

if target_size == '8x12'
	- rows = ['A','B','C','D','E','F','G','H'];
	- cols = [1,2,3,4,5,6,7,8,9,10,11,12];


- var lightbg = '#fff';
- var darkbg  = '#000';
- var bg = darkbg;

div(ng-if="Map.Transfer && Map.TransferMap")
	div(ng-repeat="batch in Map.TransferMap")
		table.table-bordered(style="border: 1px solid")
			each row in rows
				tr
					each col in cols
						if col > 6 
							- bg=darkbg;
						if col <= 6 
							- bg=lightbg;

						td					
							div(ng-if="batch['#{row}#{col}'] && Map.Transfer[batch['#{row}#{col}']['target_index']]")
								a(href='#' data-toggle='tooltip' title="{{ Map.Transfer[batch['#{row}#{col}']['target_index']]['qty'] }}  {{ Map.Transfer[batch['#{row}#{col}']['target_index']]['qty_units'] }} from #{{ Map.Transfer[batch['#{row}#{col}']['target_index']]['source_id'] }}" style='color:#{bg}') 
									div.wellmap( style="background-color:{{ batch['#{row}#{col}']['colour_code'] }}")
										b {{ Map.Transfer[ batch['#{row}#{col}' ]['target_index']]['qty'] }}
							div(ng-if="! batch['#{row}#{col}'] ")
								div.wellmap(style='background-color: #666')
									span &nbsp;	
		hr