extends ./../customize/privateLayout
block content

  if !fields
    - fields = [];
  if !view
    - view = data

  - var config = {};
  - config.view = view;
  - config.data = data;
  - config.id  = id;
  - config.file = file;
  - config.excel = excel;

  if view 
    - view_id = view_id || view.id
    - tables = view.tables
    - fields = fields || view.fields

  - var init = "initialize(" + JSON.stringify(config) + ")";

  div.container
    p &nbsp;
    a(href="/View/edit/#{view_id}" ) 
        button.btn.btn-primary(type='button') Edit View

    span &nbsp; &nbsp;
  
    a(href="/views" ) 
        button.btn.btn-danger(type='button') Return to List of Views

    hr 

    div(ng-app='myApp' ng-cloak=1)
      div(ng-controller="SharedController" ng-init="include_all=1")
        div(ng-controller="LIMSController")
          div(ng-controller='ViewController' ng-init="#{init}")
            form(role='form' method='post' action="/view/generate" enctype='form-data')
                input(type='hidden' ng-model="form.view_id" name='view_id' value="#{config.id}")
                input(type='hidden' name='generate' value='1')
                
                div.container.alert.alert-info(ng-show="message") {{message}}

                div.view-section
                    div.view-overview
                        if title
                            h3 #{title}
                        p
                            - name = view.name;
                            - id   = view.id;
                            - tables = view.tables
                            - fields = view.fields
                            - desc  = view.description
                        h4 #{name}
                        b From Tables: #{tables}
                        p #{desc}

                    div.navbar-right(ng-show="data && !showOptions")
                        button.btn.btn-sm.btn-warning(ng-click="showOptions=true;" onclick='return false;') Revise Search Criteria
 
                    div.search-options(ng-show="showOptions")
                        div.navbar-right
                            button.btn.btn-sm.btn-danger(ng-show="data" ng-click="showOptions=false;" onclick='return false;') Hide Search Criteria
                        h3 Search Options:

                        if fields
                            table.table.table-bordered
                                tr.text-info
                                    td  
                                        b Show
                                    td  
                                        b Field
                                    td  
                                        b Search Condition
                                    td  
                                        b Group by
                                    td
                                        b Separate Tab/Layer by

                                each field in fields.split(/,\s*/)
                                    tr
                                        td
                                            input(type='checkbox' ng-model="form.show['#{field}']" ng-click="updateList('show','#{field}')" name='fields')
                                        td #{field}
                                        td 
                                            input.form-control(type='text' ng-model="form.search['#{field}']" name="search#{field}")
                                        td
                                            input(type='checkbox' ng-model="form.groupBy['#{field}']" ng-click="updateList('groupBy','#{field}')" name='group')
                                        td
                                            input(type='checkbox' ng-model="form.layer['#{field}']" ng-click="updateList('layer','#{field}')" name='group')
                            
                            b Show: &nbsp; &nbsp;
                            b.text-success {{show.join(', ')}}                        
                            br
                            b Group by: &nbsp; &nbsp;
                            b.text-success {{groupBy.join(', ')}}
                            br
                            b Separate results by: &nbsp; &nbsp;
                            b.text-success {{layer.join(', ')}}
                            p
                            i Note: Re-select items as required to reorder:  items will be added in order selected

                        p &nbsp;
                        div(style='display:flex; flex-direction:row')
                            button.btn.btn-primary(type='button' ng-click="generate()") Generate Results
                            span &nbsp; &nbsp; 
                            input(type='text' style="flex:1" placeholder=' -- optional filename -- (defaults to user + timestamp) ' ng-model='filename')    

                    hr
                    span.results-section(ng-show='data')
                        h3 Results:
                        span.results-section(ng-show='!showData')
                            button.btn.btn-success(ng-click="showData=true;" onclick='return false;') Found {{data.length}} record(s)
                            span &nbsp; &nbsp; &nbsp;
                        span(ng-show="showData")
                            button.btn.btn-danger(ng-click="showData=false" onclick='return false;') x
                            span &nbsp; &nbsp; &nbsp;

                    span(ng-show="excel && excel.file")
                        a(href="/download?file={{excel.file}}")
                            button.btn.btn-success(type='button') Download Results as Excel File
                            b &nbsp; &nbsp; [{{excel.stats.size}} kB];
 
                    span(ng-show="data && data.length && showData")
                        p &nbsp;
                        table.table
                            tr
                                td(ng-repeat="(i,f) in data[0]" style='background-color:#ccc') {{i}}                               
                            tr(ng-repeat="record in data")
                                td(ng-repeat="(j,fj) in record") {{fj}}             

    hr
    <folder body="#{JSON.stringify(view)}"></folder>
      
