extends ./../customize/privateLayout
block content

  if view 
    - view_id = view_id || view.id
    - tables = view.tables
    - fields = view.fields || []
  else
    - view = data
    - fields = fields || []

  - var config = {};
  - config.view = view;
  - config.id  = id;
  - config.fields = fields;
  - config.pick = pick;
  - config.data = data;
  - config.file = file;
  - config.excel = excel;


  - var init = "initialize(" + JSON.stringify(config) + ")";
  - var field_help = "Reports enable users to define the labels used for each field.<p />These should be unique for each view/report.<p />To see exact database fields referenced, please examine view/report details";
  - var search_help = "Options:<ul><li>Range - (eg '1-5' or '>3')</li><li>* = Wildcard - (eg 'BC000123*')</li><li>Paste List (one value per line)</li></ul><hr />Conditions added by user should show up clearly as Extra Conditions at the top of the page.<P />Results may be limited by default to avoid queries slowing the system by returning too many records.<p />If more records are required please adjust limit field at the bottom of the page";
  - var layer_help = "Layers enable separation of data into distinct Tabs on the interface.<p />Layers appear in excel files as distinct worksheets";
  - var show_help = "Expand this list to select fields not on the output list by default.<p />To add another field to the report or enable it to be shown by default, please see administrator to edit this report";

  div.container
    p &nbsp;
    a(href="/View/edit/#{view_id}" ) 
        button.btn.btn-primary(type='button') Examine View Details

    span &nbsp; &nbsp;

    a(href="/reports" ) 
        button.btn.btn-danger(type='button') Return to List of Views
    hr 

    div(ng-app='myApp' ng-cloak=1)
      div(ng-controller="SharedController" ng-init="include_all=1")
        div(ng-controller="FancyFormController")
            div(ng-controller="LIMSController")
              div(ng-controller='ViewController' ng-init="#{init}")
                form(role='form' method='post' action="/view/generate" enctype='form-data')
                    input(type='hidden' ng-model="form.view_id" name='view_id' value="#{config.id}")
                    input(type='hidden' name='generate' value='1')
                    
                    include ./../core/errorAngularMsg.jade

                    div(ng-show="page_status==='loading'")
                        b &nbsp; &nbsp; Page {{page_status}} ...&nbsp; &nbsp; &nbsp; &nbsp;
                            include ./../core/Pending.jade
                    div(ng-show="page_status !== 'loading'")
                        div.view-section
                            div.view-overview
                                if title
                                    h3 #{title}
                                p
                                    - name = view.name;
                                    - id   = view.id;
                                    - tables = view.tables
                                    - fields = view.fields
                                    - desc  = view.description
                                    - active = view.active
                                    - attributes = view.attributes || []

                                h4 #{name}
                                //- b From Tables: #{tables}
                                p #{desc}

                            hr

                            div.container(ng-show='data')
                                div(ng-show="query === '?'")
                                    i.text-danger ? ... (possible error with query generation - see admin if this persists)
                                div(ng-show="query !== '?'")
                                    div(ng-show="!FQisVisible")
                                        button.btn.btn-success.btn-xs(type='button' onClick='return false;' data-toggle='tooltip' title='open' ng-click='FQisVisible=1')
                                            span Full Query &nbsp;
                                                i.fa.fa-expand
                                        p &nbsp;

                                    div(ng-show="FQisVisible")
                                        button.btn.btn-danger.btn-xs(type='button' onClick='return false;' data-toggle='tooltip' title='close' ng-click='FQisVisible=0')
                                            i.fa.fa-close
                                        p 
                                            i.text-danger {{query}}
                                        p &nbsp;

                            div(ng-show="extra_conditions && extra_conditions.length")
                                b Extra Conditions:
                                ul
                                  li(ng-repeat="c in extra_conditions") 
                                    i.text-danger {{c}}
         
                            div.search-options#searchOptions(ng-show="showOptions")
                                span.navbar-right
                                    button.btn.btn-sm.btn-danger(ng-show="data" ng-click="showOptions=false;" onclick='return false;') Hide Search Criteria
                                h3 Search Options:

                                div(style='display:flex; flex-direction:row')
                                    button.btn.btn-primary(type='button' ng-click="generate()") Re-generate Results
                                  
                                    span &nbsp; &nbsp; &nbsp; &nbsp;
                                    button.btn.btn-sm.btn-warning(onClick='return false;' ng-click='resetForm()') Reset Form 
                                    p &nbsp;                         

                                if fields
                                    table.table.table-bordered
                                        tr.text-info
                                            td  
                                                b Show
                                                span &nbsp; &nbsp;
                                                i.fa.fa-expand(ng-show="!showAll" ng-click="showAll=1" data-toggle='tooltip' title='Add other optional fields')
                                                i.fa.fa-compress(ng-show="showAll" ng-click="showAll=0" data-toggle='tooltip' title='Hide de-selected fields')
                                                span &nbsp; &nbsp;
                                                a(href='#' onclick='return false' data-toggle="popover" data-placement="right" data-trigger="focus" title="Search Conditions" data-content="#{show_help}" data-html="true")
                                                    i.fa.fa-question-circle
                                            td  
                                                b Field &nbsp; &nbsp;
                                                a(href='#' onclick='return false' data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Search Conditions" data-content="#{field_help}" data-html="true")
                                                    i.fa.fa-question-circle

                                            td
                                                b Search Condition &nbsp; &nbsp;
                                                a(href='#' onclick='return false' data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Search Conditions" data-content="#{search_help}" data-html="true")
                                                    i.fa.fa-question-circle

                                            //- td  
                                            //-     b Group by
                                            td
                                                b Tab/Layer &nbsp; &nbsp;
                                                input(type='radio' name='layer' ng-model="form.layer" value="")
                                                b &nbsp; None &nbsp; 
                                                a(href='#' onclick='return false' data-toggle="popover" data-placement="left" data-trigger="focus" title="Report Layers" data-content="#{layer_help}" data-html="true")
                                                    i.fa.fa-question-circle

                                        each field,i in fields
                                            - var fp = field.match(/(.*) AS (.*)/i)
                                            - var prompt = field
                                            - var fld = field
                                            if fp && fp.length
                                                - fld = fp[1]
                                                - prompt = fp[2]

                                            if 0
                                                tr
                                                    td #{field}
                                                    td #{prompt}
                                            else

                                                tr(ng-show="form.show['#{prompt}'] || showAll")
                                                    td
                                                        input(type='checkbox' ng-model="form.show['#{prompt}']" ng-click="updateList('show','#{prompt}')" name='fields')
                                                    td 
                                                        span(data-toggle='tooltip' title='#{fld}') #{prompt}

                                                    - var isAtt = true
                                                    if (attributes && attributes.indexOf(prompt) >= 0)
                                                        - isAtt = true
                                                    
                                                    - var form_type = ''
                                                    - var enums = []
                                                    if (view.field_data)
                                                        - form_type = view.field_data[i].field_type || ''
                                                        - table = view.field_data[i].table_name || ''
                                                        - enums = form_type.match(/enum\((.*)\)/i);
                                                        - def   = view.field_data[i].default_search;
                                                        - model = view.field_data[i].model
                                                    td
                                                        if (form_type.match(/date/))
                                                            //- input-lg.my-datepicker-popup()
                                                            input-lg.my-datepicker#from(name="#{prompt}From" type="text" defaultTo='' placeholder='-- From Date --' ng-model="form.from['#{prompt}']" ng-change="validateRange('#{prompt}') && isAtt && addAtt('#{prompt}')")
                                                            span &nbsp; &nbsp; 
                                                            i.fa.fa-arrow-right
                                                            soan &nbsp; &nbsp;
                                                            input-lg.my-datepicker#until(type="text" name="#{prompt}Until" defaultTo='' placeholder='-- Until Date --' ng-model="form.until['#{prompt}']" ng-change="validateRange('#{prompt}') && isAtt && addAtt('#{prompt}')")
                                                            span &nbsp; &nbsp;
                                                            button.btn.btn-default.btn-lg(type='button' ng-click="form.from['#{prompt}'] = 0; form.until['#{prompt}'] = 0; form.search['#{prompt}'] = ''") Clear
                                                        else if (form_type.match(/dropdown/))
                                                            div(ng-dropdown-multiselect="" options="MenuList['form.#{prompt}']" selected-model="msd['#{prompt}']" extra-settings="msd_settings['name']" ng-init="setup_Menu('form.#{prompt}','#{model}', null, '#{def}')" )
                                                        else if (enums && enums.length) 
                                                            - enum_list = enums[1].replace(/['"]/g, '');
                                                            div(ng-dropdown-multiselect="" options="MenuList['form.#{prompt}']" selected-model="msd['#{prompt}']" extra-settings="msd_settings['name']" ng-init="setup_Menu('form.#{prompt}','#{enum_list}',null,'#{def}')" )
                                                        else
                                                            textarea.form-control(rows=1 ng-model="form.search['#{prompt}']" ng-change="isAtt && addAtt('#{prompt}')")

                                                    //-     td  
                                                    //-         //- Attributes are not auto-included, so add to field list if condition supplied here... 
                                                    //-         textarea.form-control(rows=1 ng-model="form.search['#{prompt}']" ng-change="addAtt('#{prompt}')" )
                                                    //- else 
                                                        td 
                                                            textarea.form-control(rows=1 ng-model="form.search['#{prompt}']")
                                                    //- td
                                                    //-     input(type='checkbox' ng-model="form.groupBy['#{fld}']" ng-click="updateList('groupBy','#{fld}')" name='group')
                                                    td
                                                        input(type='radio' name='layer' ng-model="form.layer" value="#{prompt}" ng-disabled="!form.show['#{prompt}']")

                                input.form-control(ng-model='form.extra_condition' placeholder='-- optional additional condition --')
                                p &nbsp;
                                b Limit results to &nbsp;
                                input(size=8 ng-model='form.limit')
                                b &nbsp; Records &nbsp; &nbsp; &nbsp; &nbsp;
                                    span.navbar-right
                                    button.btn.btn-sm.btn-warning(ng-click='resetForm()' onClick='return false;') Reset Form                           

                                p &nbsp;  
                                b Show Fields: &nbsp; &nbsp;
                                b.text-success {{show.join(', ')}}                        
                                //- br
                                //- b Group by: &nbsp; &nbsp;
                                //- b.text-success {{groupBy.join(', ')}}
                                br
                                b Layer results by: &nbsp; &nbsp;
                                b.text-success {{form.layer}}
                                p
                                i Note: You may re-select fields as required to reorder:  they will appear in order selected

                                p &nbsp;
                                div(style='display:flex; flex-direction:row')
                                    button.btn.btn-primary(type='button' ng-click="generate()") Generate Results
                                    span &nbsp; &nbsp; 
                                    input(type='text' style="flex:1" placeholder=' i-- optional filename -- (defaults to user + timestamp) ' ng-model='filename')    

                            hr
                            span.results-section(ng-show='data && injected')
                                //- Not used ...                                 
                                h2 Injected Data
                                div#injectedViewResults
                                hr
                        div.navbar-right(ng-show="!showOptions")
                            button.btn.btn-sm.btn-warning(ng-click="showOptions=true;" onclick='return false;') Revise Search Criteria
                        div.results-section(ng-show="data && page_status === 'loaded'")
                            h3 Results:
                            span.results-section(ng-show='!showData')
                                button.btn.btn-success(ng-click="showData=true;" onclick='return false;') Found {{data.length}} record(s)
                                span &nbsp; &nbsp; &nbsp;
                            span(ng-show="showData")
                                button.btn.btn-danger(ng-click="showData=false" onclick='return false;') Hide Results
                                span &nbsp; &nbsp; &nbsp;

                            span(ng-show="excel && excel.file")
                                a(href="/download?file={{excel.file}}")
                                    button.btn.btn-success(type='button') Download Results as Excel File
                                    b &nbsp; &nbsp; [{{excel.stats.size}} kB];
         
                            span(ng-show="data.length && showData")
                                p &nbsp;


                                span(ng-if="form.layer") {{form.layer}} : 
                                span(ng-repeat="lyr in layers")
                                    a(href='#' onClick='return false;' ng-click="setPage(lyr)")
                                        button.btn.btn-xs.btn-default(type='button')
                                            span &nbsp; {{lyr}} &nbsp;

                                div(ng-show="page===lyr" ng-repeat="(lyr,ldata) in layer_data track by $index")
                                    h3 {{form.layer}} = {{page}} 
                                        i.text-info [{{ldata.length}} records]
                                    table.table(style='background-color: lightyellow;')
                                        tr
                                            th(ng-repeat="(fld,i) in ldata[0]" style='background-color:grey; color: white') 
                                                b {{fld}}                        
                                        tr(ng-repeat="record in ldata track by $index")
                                            td(ng-repeat="(j,fj) in record") {{fj}}       

      
