extends ./../customize/privateLayout
block content

  if !views
    - views = [];

  div.container
    p &nbsp;
    a(href="/reports/new")
      button.btn.btn-primary(type='button') Add New View Report  

    h3 List of Current Views: #{id}

    div.container
       div(ng-app='myApp' ng-cloak=1)
        div(ng-controller="SharedController")
          input(type='checkbox' ng-model="include_all")
          b &nbsp; Include inactive views
          p &nbsp;

          table.table
            tr
              th Name
              th Tables
              th Fields
            each view in views
              - id   = view.id || id;
              - name = view.name;
              - table = view.tables;
              - fields = view.fields;
              - desc = view.description

              - colour = 'red'
              if status === 'Active'
                - colour = 'blue'

              tr(ng-show="include_all || '#{status}' == 'Active'") 
                td  
                  a(href="/getReport/#{id}")
                    b(style='color: #{colour}') #{name}
                td
                  span #{table}
                td
                  span #{fields}
    b #{JSON.stringify(views)} 



      
