extends ./../customize/privateLayout
block content

  .header
    h1(id="main-title" class="container") Well Map 

  - Rows = ['A','B','C'];
  - Cols = [1,2,3,4]
  - targets = [];
  - config = JSON.stringify({ sources : sources, target : target, options : options });
  
  div.container
    div(ng-app='myApp')
      div(ng-controller="CommonController")
       div(ng-controller='WellController', ng-init="initialize('#{config}')")
        
        p &nbsp;
        b Fill By: 
        label
          input(type='radio' value = 'Row' ng-model="fill_by" ng-click="reset_fill_by()") 
          b &nbsp; Row &nbsp;
        label
          input(type='radio' value = 'Column' ng-model="fill_by" ng-click="reset_fill_by()")
          b &nbsp; Column &nbsp;

        hr
        h3 Source List:
        h4 Samples: {{ sources[0] }} ... {{ sources[sources.length-1] }}
        hr
        h4 Target: {{ target }}
        hr
        h5 Options: {{ options }}
        hr
        button(type='button' ng-click="distribute()") Distribute
        hr

        - var index = 0;
        table.table()
          tr
            td(style='width:50%')
              h2 Source Samples:
              table
                tr
                  th &nbsp;
                  th(ng-repeat="col in source_cols") {{ col }}
                tr(ng-repeat="row in source_rows")
                  td {{ row }}
                  td(ng-repeat="col in source_cols" style="background-color:#{{ rgbList[ $parent.$index*source_cols.length + $index ] }}") &nbsp; &nbsp; &nbsp;

            td(style='width:50%')
              h2 Target Samples:

              - var i = 0;
              each plate in targets
                table.table.table-bordered
                  tr
                    th &nbsp;
                    each col in Cols
                      th(style='background-color:#aaa') 
                        b #{col}
                  each row in Rows
                    tr
                      td(style='background-color:#aaa') 
                        b #{row}
                      each col in Cols
                        td 
                          - index = plate + ':' + row + col
                            if plateMap[index]
                              b #{plateMap[index]} 
                            else 
                              b 0

        hr
        //b {{ map }}
        b Colour Map:

        b {{ colours.length }} colours:

        table.table.table-bordered
          tr(ng-repeat="colour in colours") 
              td(ng-repeat="hue in colourMap[colour]" style="background-color:#" + "{{hue}}" ) {{hue}}
