extends ./../customize/privateLayout
block content

  - targets = [];
  - config1 = { plate_ids : plate_ids, Samples : Samples, target_size: target_size, Target : target, Options : options, sizes : sizes};
  - var init1 = "initialize(" + JSON.stringify(config1) + ")";
  - config2 = { plate_ids : plate_ids, Samples : Samples};
  - var init2 = "initialize(" + JSON.stringify(config2) + ")";
  
  div.container
    include ./../core/errorMsg.jade

    div(ng-app='myApp')
     div(ng-controller="SharedController")
      div(ng-controller="FancyFormController")
        div(ng-controller="ProtocolController", ng-init="#{init2}")
          div(ng-controller='WellController', ng-init="#{init1}")
            br
            include ActiveSamples

            br 
            include ./../core/angularMessages.jade

            form.form-horizontal(role='form' method='post' action="#{sails.config.root}/transfer")
              p &nbsp;
              if target
                h2 Transfer Samples to #{target.Plate_Format_Type}
                hr

              div.form-group
                div.col-sm-4
                  label
                    input.input(type='radio' value = 'Pre-Print' ng-model="transfer_type")
                    b &nbsp; Pre-Print &nbsp;
                  label
                    input(type='radio' value = 'Aliquot' ng-model="transfer_type")
                    b &nbsp; Aliquot &nbsp;                
                  label
                    input(type='radio' value = 'Transfer' ng-model="transfer_type") 
                    b &nbsp; Transfer &nbsp; 

                div.col-sm-4
                  input.input-lg(type='text' placeholder=' -- Transfer Qty --', ng-model='transfer_qty' ng-blur="redistribute()" size='16' ng-disabled="transfer_type=='Pre-Print'")
                  span &nbsp;
                  span.lookup(id='Lookup-units' ng-init="loadLookup('units','','units')")

                div.col-sm-4
                  b Into: 
                  span.lookup(id='Lookup-container_format' ng-init="loadLookup('container_format','', 'Select Target Format')")               
              hr 

              div.form-group
                div.col-sm-4
                  b &nbsp; Split X: 
                  input.input-lg(name='splitX' ng-model='splitX' type='text' ng-change="redistribute()" size='3' default='1' tooltip="example")


                div.col-sm-4
                  div
                    b Pack by: 
                      label
                        input(type='radio' value = 'row' ng-model="fill_by" ng-click="redistribute();") 
                        // reset_fill_by(); 
                        b &nbsp; Row &nbsp;
                      label
                        input(type='radio' value = 'column' ng-model="fill_by" ng-click="redistribute();")
                        b &nbsp; Column &nbsp;
                      label
                        input(type='radio' value = 'position' ng-model="fill_by" ng-click="redistribute();")
                        b &nbsp; Slot &nbsp;
                div.col-sm-4
                    div &nbsp; 
                      b {{ fillExample }}

              div.form-group(ng-show="splitX > 1 && fill_by != 'position'")
                br
                div.col-sm-4
                    b Distribution: 
                    label
                      input(type='radio' value = 'serial' ng-model="split_mode" ng-click="reset_split_mode(); redistribute();") 
                      b &nbsp; Serial &nbsp;
                    label
                      input(type='radio' value = 'parallel' ng-model="split_mode" ng-click="reset_split_mode(); redistribute();")
                      b &nbsp; Parallel &nbsp;
                div.col-sm-4
                  div(ng-show="split_mode === 'serial' ")
                    b in groups of: 
                    label
                      input.input-lg(name='pack_wells' type='text' size='6'  ng-model="pack_wells" ng-change="redistribute()")
                div.col-sm-4
                    div &nbsp; 

                      b(ng-show="!packExample") {{ splitExample }}
                      br
                      b {{ packExample }}

              hr

              div.form-group
                div.col-sm-4
                  span.lookup(id='Lookup-sample_type' ng-init="loadLookup('sample_type','', 'Extract ?')")

                div.col-sm-4
                  b Target (optional): 
                  div
                    input.input-lg(type='text' name='target_rack' size=12 ng-model='target_rack' ng-change="validate_target(); redistribute();" placeholder='-- Scan Loc# --')
                div.col-sm-4 &nbsp;
                  button.btn.btn-lg.btn-primary(type='button' ng-click="redistribute(); execute_transfer();") Distribute
                  span &nbsp; &nbsp;
                  input(type='radio' ng-click="use_custom_settings()") 
                  span &nbsp; Custom x 3 sub-aliquot
              
              p &nbsp;

              h3 Distribution View:
              - var index = 0;
              table.table()
                tr
                  td(style='width:50%')
                    h2 Source Samples: [ size: {{ Samples[0].box_size }} ]
                    include SourceMap.jade
                    hr
                    // ul
                      li(ng-repeat="source in Samples")
                        b id={{source.id}} posn={{source.position}}

                    table
                      tr
                        th &nbsp;
                        th(ng-repeat="col in source_cols") {{ col }}
                      tr(ng-repeat="row in source_rows")
                        td {{ row }}
                        td(ng-repeat="col in source_cols" style="background-color:#{{ rgbList[ $parent.$index*source_cols.length + $index ] }}" ) 
                          span(data-toggle="tooltip" title="{{Samples[$parent.$index*source_cols.length + $index].id}}") &nbsp; &nbsp; &nbsp;
                  td(style='width:50%')
                    h2 Target Samples: [ size: {{ target_size }} ]
                    include TargetMap.jade
                    hr
                    // ul
                      li(ng-repeat="xfer in Map.Xfer")
                        b {{xfer.source_position}} -> {{xfer.target_position}} : id={{xfer.source_id}} [ {{xfer.qty}} {{xfer.qty_units}}]

                    - var i = 0;
                    each plate in targets
                      table.table.table-bordered
                        tr
                          th &nbsp;
                          each col in Cols
                            th(style='background-color:#aaa') 
                              b #{col}
                        each row in Rows
                          tr
                            td(style='background-color:#aaa') 
                              b #{row}
                            each col in Cols
                              td 
                                - index = plate + ':' + row + col
                                  if plateMap[index]
                                    b #{plateMap[index]} 
                                  else 
                                    b 0
              if debug

                div.alert.alert-warning Debugging Information:  (hidden in production)
                  h2 Samples:  [{{ Samples.length }} samples]
                  h4 plate_ids: #{plate_ids}
                  h5 target: #{target}
                  h5 target_size: #{JSON.stringify(target_size)}
                  h5 options: #{JSON.stringify(options)}
                  h5 sizes: #{sizes}
                  
                  h4 
                    b Samples: 
                    span {{ Samples[0] }}, {{ Samples[1] }} ...{{ Samples[Samples.length-1] }}
                    p &nbsp;
                    b Target: {{ target }}

                  h4 
                    b Options:
                    ul
                      li Split: {{ splitX }}
                      li Split_mode: {{ split_mode }}
                      li Pack: {{ pack }} : {{ pack_wells }}
                      li Fill By: {{ fill_by }}
                      li Transfer Qty: {{ transfer_qty }} {{ units_label }}
                      li Target Container: {{ Plate_Format }}
                      li Transfer Type: {{ transfer_type }}
                      li Available: {{ available }}
                      li Target Boxes: {{ target_boxes }}
                  hr
                  h4 Target: {{ target }}
                  hr
                  h5 Options: {{ options }}
                  hr
                  button(type='button' ng-click="redistribute()") Distribute
                  span &nbsp; &nbsp;
                  button(type='button' ng-click="redistribute()") Re-Distribute
                  span &nbsp; &nbsp;
                  button(type='button' ng-click="source_by_Col()") Pick Columns First
                  span &nbsp; &nbsp;
                  button(type='button' ng-click="source_by_Row()") Pick Rows First
                  span &nbsp; &nbsp;
                  button(type='button' ng-click="reset_Samples()") Reset Source Order

                  hr
                  
                  button.btn.btn-primary(type='button' ng-click="testXfer()") Complete Transfer
                  span &nbsp; &nbsp;
                  hr
                  b {{ feedback }}
                  hr

                  //b {{ map }}
                  b Colour Map:

                  b {{ colours.length }} colours:

                  table.table.table-bordered
                    tr(ng-repeat="colour in colours") 
                        td(ng-repeat="hue in colourMap[colour]" style="background-color:#" + "{{hue}}" ) {{hue}}

                  h3 Angular Transfer / Samples: 
                  b Transfer: {{ Map.Transfer }}
                  hr
                  b Target Colours: {{ Map.TargetColours }} 
             
