if message || sails.config.message
  p &nbsp;
  div.alert.alert-success
    i.fa.fa-check 
    strong
      if message
        span #{message}
          a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
      if sails.config.message
        b #{sails.config.message}
          a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
if errors || errorMsg || sails.config.errorMsg
  p &nbsp;
  div.alert.alert-danger
    i.fa.fa-warning 
    strong &nbsp; Error: &nbsp;
      span #{errorMsg}
      b #{sails.config.errorMsg}
      if errors
        ul
          each err in errors
            li #{err}
    a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;

if warnings || warningMsg || sails.config.warningMsg
  p &nbsp;
  div.alert.alert-warning
    i.fa.fa-warning 
    strong 
        span.text-danger &nbsp; Warning:
        span &nbsp;
      span #{warningMsg}
      b #{sails.config.warningMsg}
      if warnings
        ul
          each warning in warnings
            li #{warning}
    a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;