if message || ( sails.config.messages && sails.config.messages.length)
  // p &nbsp;
  div.alert.alert-success
    a(href="#" onclick="return false;" class="close" data-dismiss="alert" aria-label="close") &times;
    strong
      if message
        i.fa.fa-check
        span &nbsp; 
        span #{message}
      if sails.config.messages
        each msg in sails.config.messages
          br
          i.fa.fa-check
          span &nbsp; 
          b #{msg}

    

if errors || errorMsg || (sails.config.errors && sails.config.errors.length)
  div.alert.alert-danger
    i.fa.fa-warning 
    a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
    strong &nbsp; Error: &nbsp;
      span #{errorMsg}
      if errors
        ul
          each err in errors
            li #{err}
      if sails.config.warnings
        ul
          each warn in sails.config.warnings
            li #{warn}
      

if warnings || warningMsg || (sails.config.warnings && sails.config.warnings.length)
  div.alert.alert-warning
    i.fa.fa-question 
    a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
    strong 
        span.text-danger &nbsp; Warning:
        span &nbsp;
      span #{warningMsg}
      b #{sails.config.warningMsg}
      if warnings
        ul
          each warning in warnings
            li #{warning}
      if errors
        ul
          each err in errors
            li #{err}
      if sails.config.errors
        ul
          each err in sails.config.errors
            li #{err}      
    