if message || messages || ( sails.config.messages && sails.config.messages.length)
  // p &nbsp;
  div.alert.alert-success
    a(href="#" onclick="return false;" class="close" data-dismiss="alert" aria-label="close") &times;
    strong
      if message
        i.fa.fa-check
        span &nbsp; 
        span #{message}
      if messages
        each msg in messages
          br
          i.fa.fa-check
          span &nbsp; 
          b #{msg}
      if sails.config.messages
        each msg in sails.config.messages
          br
          i.fa.fa-check
          span &nbsp; 
          b #{msg}

if warning || warnings || warningMsg || (sails.config.warnings && sails.config.warnings.length)
  div.alert.alert-warning
    a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
    strong
      if warning || warningMsg
        i.fa.fa-question 
        span.text-danger &nbsp; Warning:
        span &nbsp;
        span #{warningMsg}
        span #{warning}
      if warnings
        each warn in warnings
          br
          i.fa.fa-question
          span &nbsp;
          b #{warn}
      if sails.config.warnings
        each warn in sails.config.warnings
          br
          i.fa.fa-question
          span &nbsp;
          b #{warn}

if error || errors || errorMsg || (sails.config.errors && sails.config.errors.length)
  div.alert.alert-danger
    a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
    strong
      if warning || warningMsg
        i.fa.fa-question 
        span.text-danger &nbsp; Warning:
        span &nbsp;
        span #{errorMsg}
        span #{error}
      if errors
        each err in errors
          br
          i.fa.fa-warning
          span &nbsp;
          b #{err}   
             
      if sails.config.errors
        each err in sails.config.errors
          br
          i.fa.fa-warning
          span &nbsp;
          b #{err}
