div(id="injected#{element}")
	- var alias = {};
	h2 #{title}
		div.navbar-right
			button.btn.btn-danger.btn-sm(type='button' onclick="document.getElementById('#{element}').innerHTML = ''") Close
	table.table-bordered(style='width:100%')
		tr
			thead
				each field in fields
					- var key = field.match(/ as \w+$/)
					if key && key.length
						- label = key[0].replace(' as ','');
						- alias[field] = label;
					else 
						- label = field;
					th.bg-primary(style="padding:4px")
						b #{label}
		each record,i in data
			tr
				each field in fields
					- var key = alias[field] || field;
					td(style='padding:10px')
						if href && href[key]
							- ref = href[key].replace('<' + key + '>', record[key])
							a(href="#{ref}")
								b goto !{record[key]} (#{ref})
						else 
							b no go !{record[key]} (#{key} : #{href[key]})
		p &nbsp;
	F: #{ JSON.stringify(href) }

