extends privateLayout
block content

  div.main.container
               
    h3 LIMS Dashboard
      .navbar-right 
        a(href="/admin")
          button.btn.btn-danger(type='button') Admin

    if message
      div.alert.alert-warning #{message}
    br            
    form(role='form' method='post' action="/scan-barcode")       
      div.form-group
        label(for='barcode') Scan Barcode
        input.form-control(type='text' placeholder='-- Scan Barcode Here --' id='barcode' name='barcode')
      button.btn.btn-primary(type=submit) Submit

    hr

    a(href='/Lab_protocol/list')
      button.btn.btn-primary Lab Protocols

    hr

    h3 Assign to Matrix Tubes
    div.container(ng-app="fileUpload" ng-controller="MyCtrl")
        div(style='border: 1px #ccc solid; padding: 40px' ngf-drop ngf-select ng-model="files" class="drop-box" 
            ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
            accept="image/*,application/pdf" 
            ngf-pattern="'image/*,application/pdf'") 
            b Drop images here ... or 
            button.btn.btn-default Select File(s) to Upload
        div(ngf-no-file-drop) File Drag/Drop is not supported for this browser

        div &nbsp;
        button.form-control.btn.btn-primary(ng-disabled="! files.length") Link Matrix Tubes to BCG IDs
        div &nbsp;

        b Files:
        ul
          li(ng-repeat="f in files" style="font:smaller") {{f.name}} {{f.$error}} {{f.$errorParam}}

        br
        
        b Upload Log:
        pre(style='height: 100%')
            {{log}}

        hr


    a(href="/user/dashboard/1" method='post')
      button.btn.btn-primary Home

    hr
    
    b session: #{JSON.stringify(session)}
    br
