.container

	- var payload = {};
	if session && session.payload
		- payload = session.payload;

	- var show = ['userid', 'host', 'db', 'db_user', 'access', 'alDenteID', 'printer_group'];

	div.modal.fade#userMenu
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title User Profile
				div.modal-body
					h3 Name: #{ payload.user }
					hr
					h4 Connection Mode: #{payload.mode}
					table
						each key in show
							tr
								- var val = payload[key];
								td #{key}: &nbsp; &nbsp;
								td 
									b #{val} 
								
					hr
					a(href="#{sails.config.root}/logout")
						button.btn.btn-danger(type="submit") Logout
					div#insideModal
				div.modal-footer
					button.btn.btn-default(type="button button-danger" data-dismiss="modal") Close
